<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>HPC-T-Annotator - Contacts</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link rel="icon" type="image/x-icon" href="static/logo.ico">
</head>
<body>
    <!-- Navbar section -->
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="start.html">Start</a></li>
            <li><a href="architecture.html">Architecture</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="help.html">Help</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="title">
            <h1>HPC-T-Annotator</h1>
            <img src="static/logo.png"
                width="100"
                style="margin: auto auto">
            <h2>Who we are?</h2>
        </div>
        <div class="block">
            <div class="caption">
                <img src="static/lorenzoarcioni.jpg" alt="Lorenzo Arcioni" width="200" height="200">
                <div class="card">
                    <h3>Lorenzo Arcioni</h3>
                    <p>He received the bachelor’s degrees from Sapienza University of Rome in 2023.
                        He is currently pursuing a Master's degree in Computer Engineering. 
                        His academic focus revolves around Data Science and Machine Learning 
                        and he has obtained professional certifications in Data Science and DevOps. 
                        He actively participates in various projects related to machine learning 
                        and data science and has experience in working with complex systems and 
                        optimizing performance through parallel computing techniques.</p>
                    <p>E-mail: lorenzo.arcioni2000@gmail.com</p>
                </div>
            </div>
            

        </div>
        <div class="block">
            <h3></h3>
            
        </div>
    </div>
</body>
<footer>
    <!-- insert your code here -->
</footer>
</html>
