<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>HPC-T-Annotator Interface Guide</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link rel="icon" type="image/x-icon" href="static/logo.ico">
    <script src="static/scripts.js" defer></script>
</head>
<body>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="start.html">Start</a></li>
            <li><a href="tool.html">CLtool</a></li>
            <li><a href="architecture.html">Architecture</a></li>
            <li><a href="notebooks.html">Notebooks</a></li>
            <li>
                <!-- <a href="help.html">Help</a> --><a>Help</a>
                <ul class="dropdown-content">
                    <li><a href="interface_guide.html">Interface guide</a></li>
                    <li><a href="example.html">Step-by-step example</a></li>
                </ul>
            </li>
            <li><a href="contacts.html">Contacts</a></li>
        </ul>
    </nav>

<div class="container">
    <div class="title">
        <div class="best" style="display: flex; align-items: center;">
            <img src="static/logo.png" width="100" style="margin: auto;">
            <h1>HPC-T-Annotator</h1>
            <img src="static/logo.png" width="100" style="margin: auto;">
        </div>
        <h2 id="subtitle">Step-by-step example of a typical usecase</h2>
        <p>Immagine that you want to run the BLASTX software on a transcriptome file <i>input.fa</i> against the <i>NR</i> database. 
            You have an HPC cluster at your disposal. And after the alignment is done, you want to interpret the results
            showing some meaningful information about your transcriptome.</p>
    </div>
    <div class="block">
        <h3>Step 1: Configure the Workload Manager Settings</h3>
        <div>
            <p>Assume you have to run the BLASTX software on a transcriptome file <i>input.fa</i> against the <i>NR</i> database.</p> 
            <p>Let</p>
            <ul>
                <li><i>/home/user/assembly/input.fa</i> be the transcriptome file's absolute path and</li>
                <li><i>/home/user/DATABASES/NR</i> be the database's absolute path.</li>
            </ul>
            <p>Suppose also that you have an HPC cluster, with the SLURM workload manager, at your disposal. Both the transcriptome file and the database (and the executable binary as well) are already available on the cluster. 
            You can run HPC-T-Annotator on your cluster by generating all the necessary files through our interface, filling out the form as follows.</p>
            
            <img src="static/slurm_example.png" alt="HPC-T-Annotator example" style="width: 100%;">

            <p>Now, you must fill the second part of the form with the following alignment software settings:</p>

            <img src="static/alignment_example.png" alt="HPC-T-Annotator example" style="width: 100%;">
        
            <p>The images above show the filled HPC-T-Annotator interface. In this context, we have assumed that:</p>
            <ul>
                <li><b>Job name:</b> is "my_test_job".</li>
                <li><b>Account name:</b> is "job_account".</li> 
                <li><b>Serial partition:</b> is "g100_all_serial".</li>
                <li><b>Parallel partition:</b> is "g100_usr_prod".</li>
                <li><b>Number of Processes:</b> is 10.</li>
                <li><b>Number of Threads:</b> is 48.</li>
                <li><b>Wall time (hours):</b> is 1.</li>
                <li><b>Memory per process (GB):</b> is 15.</li>
            </ul>
        
            <p>and the following software settings:</p>
            <ul>
                <li><b>Alignment Software:</b> is Diamond.</li>
                <li><b>Tool:</b> is BLASTX.</li>
                <li><b>Database:</b> is <i>/home/user/DATABASES/NR</i>.</li>
                <li><b>Input file:</b> is <i>/home/user/assembly/input.fa</i>.</li>
                <li><b>Outdir:</b> is <i>/home/user/assembly</i>.</li>
                <li><b>Binary:</b> is <i>/home/user/bin/diamond</i>.</li>
                <li><b>Outformat:</b> is <i>"6 qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore"</i>.</li>
                <li><b>Additional options:</b> are <i>-k 5 --ultra-sensitive</i>.</li>
            </ul>
        
            <p>Now, all we have to do is click on the "Generate" button and the interface automatically generates the software package in TAR format.</p>
        </div>
    </div>
    <div class="block">
        <h3>Step 2: Upload and Run the Software Package to the HPC Cluster</h3>
            <p>You can now upload the package to your HPC cluster using the <b>scp</b> Unix command as follows:</p>
        
            <br>
        
            <div class="code-cell">
                scp hpc-t-annotator.tar user@<i>cluster_domain</i>:<i>/path/to/your/work/directory</i>/hpc-t-annotator.tar
            </div>
        
            <br>
        
            <p>Where <i>cluster_domain</i> is the domain name of the HPC cluster, <i>/path/to/your/work/directory</i> 
                is the path where the software package is uploaded, and <i>user</i> is the username of your account on the HPC cluster.</p>
        
            <br>
        
            <p>Now, you have to extract the software package using the <b>tar</b> Unix command as follows:</p>
        
            <br>
        
            <div class="code-cell">
                tar -xf hpc-t-annotator.tar && rm hpc-t-annotator.tar
            </div>
        
            <br>
        
            <p>After that, you can run the <b>start.sh</b> script on the HPC cluster using the following command:</p>
        
            <br>
        
            <div class="code-cell">
                sbatch start.sh
            </div>
        
            <br>
        
            <p>After the computation process has ended (check the general.log file for the status), the final result will be in the <b>/home/user/assembly/final_blast.tsv</b> file.</p>
    </div>

    <div class="block">
        <div>
        <h3>Step 3: Results Analysis</h3>
            <p>Once the entire computation process has ended (check the general.log file for the status), 
                you can download the <b>/home/user/assembly/final_blast.tsv</b> file using the <b>scp</b> Unix command as follows:</p>
        
            <br>
        
            <div class="code-cell">
                scp user@<i>cluster_domain</i>:<i>/home/user/assembly/final_blast.tsv</i> <i>/path/to/your/work/directory</i>
            </div>
        
            <br>
        
            <p>Where <i>cluster_domain</i> is the domain name of the HPC cluster, <i>/path/to/your/work/directory</i> 
                is the path where the software package is uploaded, and <i>user</i> is the username of your account on the HPC cluster.</p>
        
            <br>

            <p>Now, you have to choose how to use the <a href="https://github.com/lorenzo-arcioni/BioSwiftAnalytics" target=”_blank”>Jupyter notebooks</a> to visualize the results. You can use these three options:</p>

            <ul>
                <li style="margin-left: 50px; margin-top: 10px;">-<b> Google Colab</b>: you can use the Jupyter notebooks in Google Colab. Remember that you have to
                    load the TSV results file into your Google Colab environment before.</li>

                <li style="margin-left: 50px; margin-top: 10px;">-<b> Docker</b>: you can open the Jupyter notebooks in 
                    <a href="https://hub.docker.com/repository/docker/lorenzoarcioni/bioswiftanalytics/general" target=”_blank”>this</a> Docker environment. 
                    Please follow the instructions in the <a href="https://github.com/lorenzo-arcioni/BioSwiftAnalytics/blob/main/README.md" target=”_blank”>README</a> file or
                    in <a href="https://youtu.be/mgl8yCK4D5U" target=”_blank”>this</a> YouTube video to
                    correctly configure and run the Docker environment. In this case, remember to put the TSV results file in the <b>/path/to/your/work/results</b> 
                    directory that you have linked to the Docker container.</li>

                <li style="margin-left: 50px; margin-top: 10px;">-<b> Customized</b>: you can open the Jupyter notebooks in a customized environment. For example, you can use the 
                Anaconda Jupyter/Jupyter Lab environment to perform the entire analysis.</li>
            </ul>

            <br>

            <h4>Results Analysis with Google Colab</h4>
        
            <p>Let's now analyze the results using the <b>Google Colab</b> option.</p>

            <br>

            <p>First, open the GitHub repository of <a href="https://github.com/lorenzo-arcioni/BioSwiftAnalytics" target=”_blank”>BioSwiftAnalytics</a> 
                and select a notebook from the directory <b>notebooks</b> and click on the <b>Colab</b> button.</p>

            <img src="static/screenshot_1.png" alt="HPC-T-Annotator example" style="width: 100%;">

            <br>

            <p>Now, you can load the TSV results file into your Jupyter environment dragging and dropping it.</p>

            <img src="static/screenshot_2.png" alt="HPC-T-Annotator example" style="width: 100%;">

            <br>

            <p>Now, you have to fill, with your data, the notebook's cell parameters. In particular, 
                you need to specify the path of the TSV results file, the execution <i>outformat</i>, and the <i>output</i> directory. 
                And next, you can click on the <b>Run</b> button.</p>

            <br>

            <p>After executing all notebook's cells,</p>
            <img src="static/screenshot_3.png" alt="HPC-T-Annotator example" style="width: 100%;">
            <img src="static/screenshot_4.png" alt="HPC-T-Annotator example" style="width: 100%;">

            <br>

            <p>you can download the results from the <b>Colab cloud space</b> directory.</p>
            <img src="static/screenshot_5.png" alt="HPC-T-Annotator example" style="width: 100%;">
        
        </div>
    </div>

</div>
</body>
</html>