<!DOCTYPE html>
<html>
<head> 
    <meta charset="utf-8"> 
    <title> HPC-T-Annotator - Home </title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link rel="icon" type="image/x-icon" href="static/logo.ico">
</head>
<body>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="start.html">Start</a></li>
            <li><a href="tool.html">Tool</a></li>
            <li><a href="architecture.html">Architecture</a></li>
            <li>
                <a href="help.html">Help</a>
                <ul class="dropdown-content">
                    <li><a href="interface_guide.html">Interface guide</a></li>
                    <li><a href="example.html">Step-by-step example</a></li>
                </ul>
            </li>
            <li><a href="contacts.html">Contacts</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="title">
            <div class="best" style="display: flex; align-items: center;">
                <img src="static/logo.png" width="100" style="margin: auto;">
                <h1>Welcome to HPC-T-Annotator</h1>
                <img src="static/logo.png" width="100" style="margin: auto;">
            </div>
              
            <h2>Empowering Annotation Workflows</h2>
        </div>

        <div class="description">
            <p>HPC-T-Annotator is a cutting-edge tool designed to automate the generation of annotation software for de novo transcriptome assembly, utilizing advanced parallelization techniques.</p>
            <p>Our interface is designed to dynamically generate a parallel annotation software package, optimized for HPC clusters and requiring no user expertise in parallel programming or specialized IT skills.</p>
            <p>HPC-T-Annotator integrates third-party software like BLAST or DIAMOND for parallel annotation, and allows users to configure the utilization of computational resources via a web interface, allowing control over the number of processes deployed.</p>
            <img src="static/function_details.png" alt="Pipeline" width="1200">
            <p>Upon user-driven customization, the software package is ready for deployment. It can be downloaded in TAR format and transferred to the target machine for optimized, scalable annotations.</p>
        </div>
        
        <div class="buttons">
            <a href="start.html" id="get_started">Get Started</a>
        </div>
    </div>
</body>
</html>
