<!DOCTYPE html>
<html>
<head> 
    <meta charset="utf-8"> 
    <title> HPC-T-Annotator - Home </title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="start.html">Start</a></li>
            <li><a href="architecture.html">Architecture</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="help.html">Help</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="title">
            <h1>Welcome to HPC-T-Annotator</h1>
            <h2>Empowering Annotation Workflows</h2>
        </div>

        <div class="description">
            <p>HPC-T-Annotator is a cutting-edge tool designed for the fully automated generation of annotation software for de novo transcriptome assembly, leveraging powerful parallelization techniques.</p>
            <p>Our interface has been architecturally developed to dynamically generate a parallel annotation software package. This package is optimized for execution on HPC clusters, obviating the need for users to possess expertise in parallel programming or specialized IT competencies.</p>
            <p>For parallel annotation, HPC-T-Annotator employs third-party software such as BLAST or DIAMOND. Its capacity to utilize extensive computational resources depending on the number of processes configured by the user via the web interface.</p>
            <img src="static/function_details.png" alt="Pipeline" width="1200">
            <p>Upon user-driven generation of the customized software package, it becomes ready for deployment. This package can be readily downloaded in TAR format and disseminated to the target machine for optimized and scalable annotations.</p>
        </div>
        
        <div class="buttons">
            <a href="start.html" id="get_started">Get Started</a>
        </div>
    </div>
</body>
</html>
