<!DOCTYPE html>
<html>
<head> 
    <meta charset="utf-8"> 
    <title> HPC-T-Annotator </title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/logo.ico">
    <script src="../static/scripts.js" defer></script>        
</head>
<body>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="start.html">Start</a></li>
            <li><a href="tool.html">Tool</a></li>
            <li><a href="architecture.html">Architecture</a></li>
            <li><a href="help.html">Help</a></li>
            <li><a href="contacts.html">Contacts</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="title">
            <div class="best" style="display: flex; align-items: center;">
                <img src="../static/logo.png" width="100" style="margin: auto;">
                <h1>HPC-T-Annotator</h1>
                <img src="../static/logo.png" width="100" style="margin: auto;">
            </div>
            <h2 id="subtitle">Generative Interface</h2>
        </div>

        <div class="description">
            <p>To generate the parallel software for the transcriptome annotation, 
               please complete the two forms below: one pertaining to the settings of the workload manager, 
               and the other concerning the details of the alignment software you wish to use (BLAST or DIAMOND), 
               as well as the database against which the mapping will be performed.</p>
        </div>
        
        <form method="POST" id="form">
            <div class="block" style="display: grid; grid-template-columns: auto 1fr; gap: 20px;">
                <div>
                    <div style="display: flex;">
                        <h3>Workload manager settings</h3>
                        <button class="help_settings" id="help_workload" type="button">
                            <p style="margin-top: -1px; font-size: large;">?</p>
                        </button>
                    </div>
                    <div class="workload">
                        <h4>Select workload manager</h4>

                        <input type="radio" id="slurm" value="slurm" name="workload_manager" onchange="toggleConfigurationPanel()" onload="toggleConfigurationPanel()">
                        <label for="slurm">Slurm</label>
                        <input type="radio" id="none" value="none" name="workload_manager" checked onchange="toggleConfigurationPanel()" onload="toggleConfigurationPanel()">
                        <label for="none">None</label>
                    </div>
                
                    <div class="conf" id="slurmConfPanel" style="display: none;">
                        <h4>Slurm configuration settings</h4>

                        <label for="Slurm_job_name"><b>Job name:</b> </label>
                        <input type="text" name="Slurm_job_name" id="Slurm_job_name" placeholder="job_name">
                        Specify the name of the job for job submission.
                        <br>
                        <br>
                        <label for="Slurm_account_name"><b>Account name:</b> </label>
                        <input type="text" name="Slurm_account_name" id="Slurm_account_name" placeholder="account_name">
                        Specify the name of the account for job submission.
                        <br>
                        <br>
                        <label for="Spart"><b>Serial partition: </b></label>
                        <input type="text" name="Slurm_serial_part" id="Slurm_serial_part" placeholder="g100_all_serial">
                        Partition with an hour of minimum wall-time execution and at least 5GB of RAM.
                        <br>
                        <br>
                        <label for="Part"><b>Parallel partition:</b> </label>
                        <input type="text" name="Slurm_parallel_part" id="Slurm_parallel_part" placeholder="g100_usr_prod">
                        Provide the name of the parallel partition for multi-threaded jobs.
                        <br>
                        <br>
                        <label for="Nproces"><b>Number of processes:</b> </label>
                        <input type="number" name="Slurm_Nprocess" id="Slurm_Nprocess" style="width: 40px;" min=1 value=1>
                        Set the desired number of processes. Must not excedeed the number of sequences (A range of 10-300 is recommended).
                        <br>
                        <br>
                        <label for="Nthread"><b>Number of threads: </b></label>
                        <input type="number" name="Slurm_Nthreads" id="Slurm_Nthreads" style="width: 40px;" min=1 value=1>
                        Define the number of threads per process (A range of 10-100 is recommended).
                        <br>
                        <br>
                        <label for="Time"><b>Wall-time (hours):</b></label>
                        <input type="number" name="Slurm_time" id="Time" style="width: 40px;" min=1 value=1>
                        <U>Must be less than or equal to your parallel partition wall-time.</U>
                        <br>
                        <br>
                        <label for="Mproces"><b>Memory per process (GB):</b></label>
                        <input type="number" name="Slurm_Mprocess" id="Mprocess" style="width: 40px;" min=1 value=1>
                        Enter the memory requirement per process (Must be less than or equal to your node RAM limit).
                    </div>

                    <div class="conf" id="noneConfPanel">
                        <h4>Base configuration settings</h4>

                        <label for="job_name"><b>Job name:</b> </label>
                        <input type="text" name="job_name" id="job_name" placeholder="job_name">
                        Specify the name of the job for job submission.
                        <br>
                        <br>                        
                        <label for="Nproces"><b>Number of processes:</b></label>
                        <input type="number" name="Nprocess" id="Nprocess" style="width: 40px;" min=1 value=1>
                        Set the desired number of processes. Must not excedeed the number of sequences.
                        <br>
                        <br>
                        <label for="Part"><b>Threads</b></label>
                        <input type="number" name="threads" id="threads" style="width: 40px;" min=1 value=1>
                        Define the number of threads per process.
                    </div>

                </div>
                <div class="icon" style="text-align: right;">
                    <img src="../static/hpc-cluster.png" alt="HPC-cluster" style="width: 150px;">
                </div>
            </div>
            <div class="description">  
                <h3><U>Please note that</U></h3>
                <p style="text-align: center;">It is absolutely <b>mandatory</b> to use the running machine <b>absolute paths</b>.</p>
                <p style="text-align: center;">Make sure that there is enough memory available in the running area.</p>
            </div>

            <div class="block" style="display: grid; grid-template-columns: auto 1fr; gap: 20px;">
                <div style="width: 240%;">
                    <div style="display: flex;">
                        <h3>Alignment software settings</h3>
                        <button class="help_settings" id="help_alignment" type="button">
                            <p style="margin-top: -1px; font-size: large;">?</p>
                        </button>
                    </div>
                    <div class="SAT">
                        <h4>Select the annotation tool</h4>
                        <input type="radio" id="blast" value="blast" name="annotation_software">
                        <label for="blast">Blast</label>
                        <input type="radio" id="diamond" value="diamond" name="annotation_software" checked>
                        <label for="diamond">Diamond</label>
                        <br>
                        <br>
                        <br>
                        <label for="tool-select">Choose a tool:</label>

                        <select name="tool" id="tool">
                            <option value="blastp">Blastp</option>
                            <option value="blastx">Blastx</option>
                        </select>
                        <br>
                        <br>
                        <label for="Part">Database absolute path</label>
                        <button id="help_db_path" type="button" style="height: 18px;"> 
                            <p style="margin-top: -1.5px;">?</p>
                        </button>
                        <br>
                        <input class="long_input" type="text" name="DB_path" id="DB_path" placeholder="/path/to/database">
                        <br>
                        <br>
                        <label for="Part">Input file absolute path</label><br>
                        <input class="long_input" type="text" name="IF_path" id="IF_path" placeholder="/path/to/input_file">
                        <br>
                        <br>
                        <label for="Part">Output directory absolute path</label><br>
                        <input class="long_input" type="text" name="OF_path" id="OF_path" placeholder="/path/to/output_directory/">
                        <br>
                        <br>
                        <label for="Part">Binary absolute path</label><br>
                        <input class="long_input" type="text" name="BI_path" id="BI_path" placeholder="/path/to/binary">
                        <br>
                        <br>
                        <label for="Part">Outformat (please use the double quotes)</label>
                        <button id="help_outfmt" type="button" style="height: 18px;"> 
                            <p style="margin-top: -1.5px;">?</p>
                        </button>
                        <br>
                        <input class="long_input" type="text" name="outformat" id="outformat" value="&#34;6 qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore&#34;">
                        <br>
                        <br>
                        <label for="Part">Additional options</label> 
                        <button id="help_add_options" type="button" style="height: 18px;"> 
                            <p style="margin-top: -1.5px;">?</p>
                        </button>
                        <br>
                        <input class="long_input" type="text" name="add_options" id="add_options" value="">

                    </div>
                </div>
                <div class="icon" style="text-align: right;">
                    <img src="../static/annotation.png" alt="Annotation" style="max-width: 150px;">
                </div>
                
            </div>
            <div class="buttons">
                <button id="reset" type="reset"> 
                    Reset the fields
                </button>

                <button id="sub_B" type="submit"> 
                    Generate
                </button>
            </div>
        </form>

    </div>
</body>
</html>

